.rbc-calendar {
    background-color: #f9f9f9; /* Light gray background */
    border: none; /* Remove calendar borders */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
  }
  
  .rbc-month-view {
    border: none;
  }
  
  .rbc-header {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    border: none;
    /* padding: 5px 0; */
  }
  
  /* Style the days of the month */
  .rbc-day-bg {
    background-color: #ffffff; /* White background */
  }
  
  .rbc-today {
    background-color: #eaf6ff !important; /* Light blue for today */
    border-radius: 6px;
  }
  
  .rbc-date-cell {
    font-weight: bold;
    color: #333;
  }
  
  .rbc-month-row {
    border: none;
  }
  
  /* Style the events */
  .rbc-event {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for events */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
  }
  
  /* Custom toolbar styling */
  .custom-toolbar {
    display: flex;
    justify-content: center; /* Center align the toolbar */
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .toolbar-label {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin: 0 15px;
  }
  
  .nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .nav-button:hover {
    background-color: #0056b3;
  }